*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Domine", serif;
  font-family: "Playfair Display", serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Silkscreen", sans-serif;
  font-family: "Young Serif", serif;
}
lu {
  display: flex;
  justify-content: center;
  gap: 70px;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.02em;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-div {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  padding: 25px 0;
  color: black;
}
