*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-gray: #434455;
  --color-white: #ffffff;
  --color-dark-grey: #2e2f42;
  --color-blue: #4d5ae5;
  --color-dark-blue: #404bbf;
  --color-white-2: #f4f4fd;
  --color-white-3: #e7e9fc;
}
.container {
  width: 428px;
}
