*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 272px;
  width: 95%;
  min-height: 357px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop {
  padding: 90px 24px 24px 24px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000004d;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.red {
  background-color: red;
  max-width: 768px;
  height: 400px;
  border: solid;
}
.blue {
  background-color: blue;
  max-width: 768px;
  height: 400px;
  border: solid;
}
.green {
  background-color: green;
  max-width: 768px;
  height: 400px;
  border: solid;
}
.container {
  width: 100%;
  max-width: 420px;
  padding: 0 16px;
  margin: 0 auto;
}
.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background-color: transparent;
}
.modal-center {
  padding: 28px 16px;
}
.modal-input {
  width: 100%;
  height: 35px;
  padding-left: 12px;
  margin: 0 auto;
  border-radius: 4px;
  border: 1px solid #d7d7d7;
}
.form-label:focus-within {
  color: #ee620a;
}
.modal-text {
  padding-top: 14px;
  padding-bottom: 18px;
}
.modal-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.modal-break {
  padding-top: 14px;
  padding-bottom: 24px;
}
.modal-button {
  width: 100%;
  height: 37px;
}

.menu-container {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #e86f54;
  z-index: 999;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}
.modal-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
}
/* Tablet */
@media (min-width: 768px) {
  .red {
    background-color: grey;
  }
  .blue {
    background-color: aqua;
  }
  .green {
    background-color: brown;
  }
}

/* Laptop */

@media (min-width: 1200px) {
  .red {
    background-color: rgb(163, 50, 50);
  }
  .blue {
    background-color: rgb(9, 4, 30);
  }
  .green {
    background-color: rgb(42, 165, 101);
  }
}
