*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --pink: #e86f54;
  --pink-hover: #e25b41;
  --pink-focus: #fa6f54;
  --red: #e74a3b;
  --green: #3cbc81;
  --border: #d7d7d7;
  --border-hover: #111111b2;
}

